root = true

[*]
end_of_line = LF
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C
[*.{c,h}]
indent_size = 4
indent_style = tab

# Docker
[Dockerfile]
indent_style = space
indent_size = 4

# JSON (and with comments)
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 8

# Shell
[*.{sh,bash}]
indent_style = tab
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
